<section class="page-section" id="{{ site.data.sitetext[site.locale].blog.section | default: "blog" }}">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].blog.title | default: "Our Blog" }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].blog.text | default: "" }}</h3>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    {% assign sorted_posts =  site.posts | sort: "date" | reverse %}
                    {% for post in sorted_posts %}
                    <tr>
                        <td>
                            {{post.date | date: "%m-%d-%Y"}}
                        </td>
                        <td>
                            <a href="{{ post.url }}">{{post.title | truncate: 90}}</a>
                        </td>
                        <td>
                            {{post.author}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>