<!-- Button -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].button.section | default: "button" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].button.title | default: "Button" }}</h2>
      </div>
    </div>
    <div class="row">
        <div class="button">
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext[site.locale].button.buttonlink }}">{{ site.data.sitetext[site.locale].button.button }}</a>
    </div>
  </div>
</section>
<!-- End Button -->

