<section class="page-section bg-light" id="{{ site.data.sitetext[site.locale].lessontab.section | default: "lessontab" }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].lessontab.title }}</h2>
              <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].lessontab.text }}</h3>
            </div>
          </div>

            <table class="table table-striped">
            <tr>
            <th>Lesson</th>
            <th>Site</th>
            <th>Repository</th>
            <th>Instructor Notes</th>
            <th>Status</th>
            <th>Author(s)</th>
            </tr>
            {% for lesson in site.data.sitetext[site.locale].lessontab.lessons %}
            <tr>
                <td>{{ lesson.lesson-title }}</td>
                <td><a href="{{ lesson.site }}" target="_blank" class="fa fa-laptop"></a></td>
                <td><a href="{{ lesson.repo }}" target="_blank" class="fab fa-github"></a></td>
                <td><a href="{{ lesson.notes }}" target="_blank" class="fa fa-plus-circle"></a></td>
                <td>{{ lesson.status }}</td>
                <td>{{ lesson.author }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</section>