---
import Layout from '../layouts/PageLayout.astro';
---
<Layout title="404 - Page Not Found">
  <script is:inline>
    // SPA Redirect for Keystatic Admin
    var l = window.location;
    var projectBase = '/keystatic';
    if (l.pathname.startsWith(projectBase)) {
      l.replace(
        l.protocol + '//' + l.hostname + (l.port ? ':' + l.port : '') +
        projectBase + '/?p=' +
        l.pathname.slice(projectBase.length).split('/').join('/') +
        (l.search ? '&q=' + l.search.slice(1).replace(/&/g, '~and~') : '') +
        l.hash
      );
    }
  </script>
  <div class="text-center">
    <h2 class="section-heading text-uppercase">404</h2>
    <h3 class="section-subheading text-muted">Page Not Found</h3>
    <a class="btn btn-primary btn-xl text-uppercase" href="/">Return Home</a>
  </div>
</Layout>
