---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0; url=https://librarycarpentry.github.io/lc-team-agreements/">
    <link rel="canonical" href="https://librarycarpentry.github.io/lc-team-agreements/">
  </head>
  <body>
    <p>Redirecting to <a href="https://librarycarpentry.github.io/lc-team-agreements/">https://librarycarpentry.github.io/lc-team-agreements/</a>...</p>
  </body>
</html>
